---
const LOGO = 'https://oasisdentalcarehb.com/wp-content/uploads/2025/07/Oasis_Dental_Logo_Green_Header.png';
const PHONE = '(714) 893-2106';
const TEL = 'tel:7148932106';
---

<footer class="site-foot">
  <div class="wrap">
    <div class="ftop">
      <div>
        <a class="brand" href="/"><img src={LOGO} alt="Oasis Dental Care" /></a>
        <p>Precision, technology-forward dentistry in the heart of Huntington Beach.</p>
      </div>
      <div>
        <h4>Services</h4>
        <ul>
          <li><a href="/service">General</a></li>
          <li><a href="/service">Cosmetic</a></li>
          <li><a href="/service">Implants</a></li>
          <li><a href="/service">Invisalign®</a></li>
          <li><a href="/service">Emergency</a></li>
        </ul>
      </div>
      <div>
        <h4>Practice</h4>
        <ul>
          <li><a href="/practice">Our Practice</a></li>
          <li><a href="/team">Our Team</a></li>
          <li><a href="/new-patients">New Patients</a></li>
          <li><a href="/new-patients#forms">Patient Forms</a></li>
        </ul>
      </div>
      <div>
        <h4>Visit</h4>
        <ul>
          <li>6552 Bolsa Ave, Ste J</li>
          <li>Huntington Beach, CA</li>
          <li><a href={TEL}>{PHONE}</a></li>
        </ul>
      </div>
    </div>
    <div class="fbot">
      <span>© 2026 Oasis Dental Care</span>
      <span>Concept · Huntington Beach, CA</span>
    </div>
  </div>
</footer>
