---
const PHONE = '(714) 893-2106';
const TEL = 'tel:7148932106';
---

<div class="sbar">
  <div class="wrap">
    <div class="l">
      <span class="live"><span class="pulse"></span>Accepting new patients</span>
      <span class="hide">Huntington Beach, CA 92647</span>
    </div>
    <div class="l">
      <span class="hide">Mon–Thu 9:00 AM – 5:00 PM</span>
      <a href={TEL}>Call {PHONE}</a>
    </div>
  </div>
</div>
